<h1>This is the blog's about page!</h1>

<p>This is a picture of Isabela</p>

<%= link_to image_tag ("isabela.png")%>

<p>This is a paragraph on the about page</p>

<ul>
    <ul>Item 1</ul>
    <ul>Item 2</ul>
    <ul>Item 3</ul>
</ul>


<%= link_to "Home", root_path %>